body {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.logo {
    width: 100px; /* Adjust as needed */
    margin-bottom: none;
    height: auto;
}

.login-card h2 {
    margin-bottom: 10px;
}

.input-container {
    text-align: left;
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-card input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #358fef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-card input[type="submit"]:hover {
    background-color: #0056b3;
}
